<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div id="app"></div>
    Why
  </body>
  <script>
    const pr = window.document.getElementById("app");

    fetch("http://127.0.0.1:5000/products")
      .then((response) => response.json())
      .then((data) => {
        data.forEach((element) => {
          let p = document.createElement("p");
          p.innerHTML = element.title;
          pr.appendChild(p);
        });
        console.log(data);
      });
  </script>
</html>
